{
    "Parameters": {
        "DB_HOST": "",
        "DB_PORT": "3306",
        "DB_DATABASE": "coc",
        "DB_USER": "",
        "DB_PASSWORD": "",
        "NODE_ENV": "develop",
        "COC_API_TOKEN": "",
        "LINE_NOTIFY_API_TOKEN": "",
        "CLAN_TAG": ""
    }
}
