{
    "Parameters": {
        "DbHost": "host",
        "DbPort": "3306",
        "DbDatabase": "",
        "DbUser": "user",
        "DbPassword": "password",
        "NodeEnv": "production",
        "SecurityGroupId": "sg-00000000000000",
        "SubnetIdA": "subnet-0000000000000000",
        "SubnetIdB": "subnet-0000000000000000",
        "SubnetId": "",
        "EipId": ""
    }
}
